.top-bar-section ul {display: table; margin: 0 auto;}
.top-bar-section ul li {
   display: table-cell;
   min-width: 8rem;
   text-align: center;
}

footer .lsf-icon::before {
   font-size: inherit;
}

.clearing-thumbs li a img {
   width: 132px;
}
